* {
  margin: 0;
  padding: 0;
}

.square {
  width: 100px;
  height: 100px;
  background-color: blueviolet;
  margin: 10px;
  /* display: none; */
}

.violet {
  display: flex;
  align-items: center;
  gap: 5px;
}
